USE [EXERCICIO 1 - UNION]
GO
/****** Object:  Table [dbo].[Palestra]    Script Date: 07/08/2021 22:30:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Palestra](
	[CODIGO_PALESTRA] [int] NOT NULL,
	[TITULO] [varchar](max) NOT NULL,
	[CARGA_HORARIA] [int] NOT NULL,
	[DATA] [datetime] NOT NULL,
	[CODIGO_PALESTRANTE] [int] NOT NULL,
 CONSTRAINT [PK_Palestra] PRIMARY KEY CLUSTERED 
(
	[CODIGO_PALESTRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Palestra]  WITH CHECK ADD  CONSTRAINT [FK_Palestra_Palestrante] FOREIGN KEY([CODIGO_PALESTRANTE])
REFERENCES [dbo].[Palestrante] ([CODIGO_PALESTRANTE])
GO
ALTER TABLE [dbo].[Palestra] CHECK CONSTRAINT [FK_Palestra_Palestrante]
GO
